h2#error {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: .5px solid red;
    color: #f0506e;
    background-color: #fef4f6;
    width: 50%;
    margin: 10px auto;
    margin-top: 50px;
    text-align: center;
    padding: 10px;
    text-transform: capitalize;
}

img#attention {
    width: 25%;
    height: 25%;
}