h3#titolEquip {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: .5px solid black;
    width: 25%;
    margin: 10px auto;
    margin-top: 50px;
    text-align: center;
    padding: 10px;
}

div#membres {
    margin-top: 50px;
    margin-bottom: 50px;
}

div#membres>h3 {
    text-decoration: underline;
}