.logo_symfony {
    width: 45px;
    height: 45px;
}

.uk-navbar-center {
    padding: .75%;
    justify-content: space-between !important;
    width: 100%;
    border-bottom: .5px solid #e2e2e2;
}

.button-group {
    display: flex;
    gap: 40px;
}

.button-group .uk-button {
    border-radius: 25px;
    width: 145px;
}