.uk-logo {
    width: 12.5%;
}

.logo_simarro {
    width: 170px;
    height: 25px;
}

.logo_symfony {
    width: 45px;
    height: 45px;
}

.uk-navbar-center {
    padding: 0.75%;
    justify-content: space-between !important;
    width: 100%;
}

.button-group {
    display: flex;
    gap: 40px;
}